@font-face {
  font-family: 'sbplus';
  src:
    url('sbplus.ttf?extq2h') format('truetype'),
    url('sbplus.woff?extq2h') format('woff'),
    url('sbplus.svg?extq2h#sbplus') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sbplus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backward:before {
  content: "\e900";
}
.icon-forward:before {
  content: "\e901";
}
.icon-sidebar-close:before {
  content: "\e90a";
}
.icon-sidebar-open:before {
  content: "\e90b";
}
.icon-widget-open:before {
  content: "\e90c";
}
.icon-widget-close:before {
  content: "\e90d";
}
.icon-profile:before {
  content: "\eb08";
}
.icon-loading:before {
  content: "\eb20";
}
.icon-settings:before {
  content: "\eb5e";
}
.icon-assessment:before {
  content: "\ec24";
}
.icon-menu:before {
  content: "\ec6e";
}
.icon-download:before {
  content: "\ec73";
}
.icon-swipe-left-right:before {
  content: "\ed2f";
}
.icon-help:before {
  content: "\ed53";
}
.icon-open:before {
  content: "\ed5c";
}
.icon-collapse:before {
  content: "\ed5d";
}
.icon-info:before {
  content: "\ed61";
}
.icon-warning:before {
  content: "\ed68";
}
.icon-close:before {
  content: "\ed69";
}
.icon-check:before {
  content: "\ed6c";
}
.icon-right:before {
  content: "\edba";
}
.icon-left:before {
  content: "\edc2";
}

