$default-font-size: 16px;
$default-font-family: Helvetica, Arial, sans-serif;
$font-color: #333;
$border-color: #ccc;
$link-color: #18b8f7;
$gutter: 16px;
$default-accent: #535cab;

@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "compass/css3/flexbox";
@import "compass/css3/user-interface";
@import "compass/css3/transform";
@import "compass/css3/background-size";
@import "../fonts/sbplus_fonts.css";


@function rem( $px, $base: $default-font-size ) {
    
    @return ( $px / $base ) * 1rem;
    
}


@mixin excerpt( $font-size: 12px, $line-height: 1.4, $lines-to-show: 2, $excerpt-bg: transparent ) {
    
    background: $excerpt-bg;
    display: block;
    display: -webkit-box;
    max-height: $font-size * $line-height * $lines-to-show;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
    @-moz-document url-prefix() {
        
        overflow: hidden;
        position: relative;
        
        &:before {
            background: $excerpt-bg;
            bottom: 0;
            position: absolute;
            right: 1px;
            right: rem( 1px );
            float: right;
            content: '\2026';
            margin-left: -3rem;
            width: 2rem;
        }
        
        &:after {
            content: '';
            background: $excerpt-bg;
            position: absolute;
            height: 25px;
            height: rem( 25px );
            width: 80%;
            z-index: 1;
        }
        
    }
    
    @media screen and ( -ms-high-contrast: active ), ( -ms-high-contrast: none ) {
        
        overflow: hidden;
        position: relative;
        
        &:before {
            background: $excerpt-bg;
            bottom: 0;
            position: absolute;
            right: 1px;
            float: right;
            content: '\2026';
            margin-left: -3rem;
            width: 2rem;
        }
        
        &:after {
            content: '';
            background: $excerpt-bg;
            position: absolute;
            height: 25px;
            width: 80%;
            z-index: 1;
        }
        
    }
    
}

@mixin aspect-ratio( $width, $height ) {
    
    position: relative;
    
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
}


/**************************
    GENERAL RULES
**************************/

*, *:before, *:after {
    @include box-sizing( border-box );
}

*:focus {
    outline: none;
}

html {
    height: 100%;
    font-size: $default-font-size;
    margin: 0;
    padding: 0;
}

body {
    @extend html;
    font-family: $default-font-family;
    line-height: 16px;
	line-height: rem( 16px );
	color: $font-color;
}

h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li {
    margin: $gutter 0;
    margin: rem( $gutter ) 0;
}

ul {
    list-style: disc;
    margin-left: 25px;
    margin-left: rem( 25px ); 
}

a, a:visited {               
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    padding: rem( 10px ) rem( 12px );
    font-size: 18px;
    font-size: rem( 18px );
    font-family: $default-font-family;
    line-height: normal;
    color: #fff;
    border: 0;
    cursor: pointer;
}

noscript {
    
    h1 {
        font-size: 24px;
        font-size: rem( 24px );
        line-height: 32px;
        line-height: rem( 32px );
    }
    
    p {
        line-height: 22px;
        line-height: rem( 22px );
    }   
    
}

/**************************
    STORYBOOK PLUS RULES
**************************/

.sbplus_wrapper {
    
    width: 100%;
    height: 100%;

    // error screen
    .error {
        
        padding: 5px 20px 0;
        padding: rem( 5px ) rem( 20px ) 0;
        
        h1 {
            font-size: 24px;
            font-size: rem( 24px );
            line-height: normal;
            font-weight: bold;
            color: #bc0909;
        } 
        
        p {
            font-size: $default-font-size;
            font-size: rem( $default-font-size );
            line-height: normal;
        }
        
    }
    
    // main storybook
    .sbplus {
        
        height: 100%;
        
        .splashscreen {
            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ccc;
            background-image: url(../images/default.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            @include background-size( cover );
            z-index: 0;
            
            @include display-flex( flex );
            @include align-items( center );
            @include justify-content( center );
            
            .splashinfo {
                
                max-width: 50%;
                
                .title {
                    font-weight: bold;
                    font-size: 20px;
                    font-size: rem( 20px );
                    line-height: 26px;
                    line-height: rem( 26px );
                    margin: 0;
                }
                
                .subtitle {
                    font-size: 18px;
                    font-size: rem( 18px );
                    line-height: 24px;
                    line-height: rem( 24px );
                    line-height: normal;
                    margin: 0 0 $gutter;
                    margin: 0 0 rem( $gutter );
                }
                
                .author {
                    margin: 0 0 $gutter;
                    margin: 0 0 rem( $gutter );
                }
                
                .length {
                    @extend .author;
                }
                
                .startBtn {
                    margin: 0;
                    background-color: $default-accent;
                    padding-right: 24px;
                    padding-right: rem( 24px );
                    padding-left: 24px;
                    padding-left: rem( 24px );
                }
                
                .download_files {
                    
                    height: 30px;
                    height: rem( 30px );
                    margin: $gutter 0;
                    margin: rem( $gutter ) 0;
                    font-size: 12px;
                    font-size: rem( 12px );
                    
                    .dl_item {
                        
                        display: inline-block;
                        position: relative;
                        min-width: 108px;
                        min-width: rem( 108px );
                        color: $font-color;
                        background-color: #fff;
                        font-size: 14px;
                        font-size: rem( 14px );
                        padding: 6px 6px 6px 24px;
                        padding: rem( 6px ) rem( 6px ) rem( 6px ) rem( 24px );
                        border: 1px solid #888;
                        border: rem( 1px ) solid #888;
                        
                        [class^="icon-"] {
                            position: absolute;
                            top: 8px;
                            top: rem( 8px );
                            left: 6px;
                            left: rem( 6px );
                        }
                        
                    }
                    
                    .dl_item:hover {
                        text-decoration: none;
                    }
                    
                }
                
            }
            
        } // end splashscreen
        
        .main_content_wrapper {
            
            position: relative;
            height: 100%;
            
            .title_bar {
                
                @include display-flex( flex );
                @include flex-direction( row );
                @include flex-wrap( nowrap );
                
                width: 100%;
                height: 30px;
                height: rem( 30px );
                color: #fff;
                background-color: $font-color;
                
                .title {
                    
                    width: 64%;
                    line-height: 30px;
                    line-height: rem( 30px );
                    padding: 0 10px;
                    padding: 0 rem( 10px );
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    @include order( 1 );
                }
                
                .author {
                    @extend .title;
                    width: 33%;
                    @include order( 2 );
                                        
                }
                
                .menuBtn {
                    
                    @extend .title;
                    
                    width: 3%;
                    min-width: rem( 40px );
                    height: 30px;
                    height: rem( 30px );
                    text-align: center;
                    border: none;
                    color: #fff;
                    padding: 0;
                    background-color: transparent;
                    @include order( 3 );
                    
                    [class^="icon-"] {
                        font-size: 16px;
                        font-size: rem( 16px );
                        line-height: 30px;
                        line-height: rem( 30px );
                    }
                    
                }
                
                .menuBtn:hover{
                    
                    [class^="icon-"] {
                        color: $link-color;
                    }
                    
                }
                
            }
            
            .container {
                    
                @include order( 1 );
                width: 64%;
                
                .slideError {
                    
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    color: #fff;
                    padding: rem( $gutter );
                    z-index: 1;
                    background-color: #f00;
                    
                }
                
                .content {
                    
                    background-color: #000;
                    
                    img {
                        width: 100%;
                        height: auto;
                    }
                    
                    // videojs
                    .video-js.vjs-default-skin {
                        
                        width: 100%;
                        height: 100%;
                        font-size: 11px;
                        color: #fff;
                        
                        .vjs-big-play-button {
                            font-size: 3em;
                            line-height: 1.5em;
                            height: 1.5em;
                            width: 3em;
                            border: 0.06666em solid #fff;
                            border-radius: 0.3em;
                            left: 50%;
                            top: 50%;
                            margin-left: -1.5em;
                            margin-top: -0.75em;
                        }
                        
                        .vjs-menu {
                            
                            font-family: $default-font-family;
                            
                            .vjs-menu-content {
                                
                                .vjs-menu-item.vjs-selected {
                                    position: relative;
                                    color: #fff;
                                    background-color: rgba( 255, 255, 255, 0.25);
                                }
                                
                                .vjs-menu-item.vjs-selected:before {
                                    position: absolute;
                                    top: 3px;
                                    top: rem( 3px );
                                    left: 4px;
                                    left: rem( 4px );
                                    width: 10px;
                                    width: rem( 10px );
                                    height: 10px;
                                    height: rem( 10px );
                                    font-family: 'sbplus';
                                    content: '\edba';
                                    font-size: 10px;
                                    font-size: rem( 10px );
                                }
                                
                            }
                            
                        }
                        
                        /* subtitles button */
                        .vjs-subtitles-button.vjs-menu-button-popup {
                            
                            .vjs-menu {
                                left: -6em;
                            }
                            
                        }
                        
                        /* resolution plugin */

                        .vjs-resolution-button {
                            font-family: VideoJS;
                        }
                        
                        .vjs-resolution-button .vjs-resolution-button-staticlabel:before {
                            content: '\f110';
                            font-size: 1.8em;
                            line-height: 1.67;
                        }
                        
                        .vjs-resolution-button .vjs-resolution-button-label {
                            font-size: 1.2em;
                            line-height: 2.50em;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            box-sizing: inherit;
                        }
                        
                        .vjs-resolution-button ul.vjs-menu-content {
                            width: 7em;
                        }
                        
                        .vjs-resolution-button .vjs-menu {
                            left: -1.8em;
                        }
                        
                    }
                    
                }
                
            }
            
            .aspect-ratio {
                
                @include aspect-ratio( 16, 9 );
                
            }
            
            .main_content {
                                
                @include display-flex( flex );
                @include flex-direction( row );
                @include flex-wrap( nowrap );
                
                width: 100%;
                border-bottom: rem( 1px ) solid $border-color;
                
                .left_side {
                    
                    @include display-flex( flex );
                    @include flex-direction( row );
                    @include flex-wrap( wrap );
                    @include order( 1 );
                    
                    width: 64%;
                    
                    .notes {
                        
                        width: 100%;
                        border-top: 1px solid $border-color;
                        border-top: rem( 1px ) solid $border-color;
                        
                    }
                    
                    .control_bar_wrapper {
                        
                        @include display-flex( flex );
                        @include flex-direction( row );
                        
                        width: 100%;
                        height: 40px;
                        height: rem( 40px );
                        border-top: 1px solid $border-color;
                        border-top: rem( 1px ) solid $border-color;
                        
                        button {
                            
                            @include display-flex( flex );
                            color: $font-color;
                            width: 60px;
                            width: rem( 60px );
                            text-align: center;
                            @include justify-content( center );
                            border-right: 1px solid $border-color;
                            border-right: rem( 1px ) solid $border-color;
                            background-color: transparent;
                            
                        }
                        
                        button:hover {
                            
                            color: $default-accent;
                            
                        }
                        
                        .status {
                            
                            font-weight: bold;
                            padding: 13px 0 0 13px;
                            padding: rem( 13px ) 0 0 rem( 13px );
                            
                        }
                        
                    }
                    
                }
                
                .side_panel {
                
                    position: relative;
                    width: 36%;
                    border-left: rem( 1px ) solid $border-color;
                    @include order( 2 );
                    
                    .topbar {
                        
                        height: 25px;     
                        height: rem( 25px );
                        background-color: #ececed;
                        border-bottom: 2px solid $border-color;
                        border-bottom: rem( 2px ) solid $border-color;
                        
                        .title {
                            font-size: 14px;
                            font-size: rem( 14px );
                            font-weight: bold;
                            color: #494949;
                            padding: 4px 0 0 8px;
                            padding: rem( 4px ) 0 0 rem( 8px );
                        }
                        
                    }
                    
                    .tableOfContents {
                                
                        height: 97.3%;
                        overflow-y: auto;
                        @include user-select( none );
                        
                        .section {
                            
                            .header {
                                
                                @include display-flex( flex );
                                @include align-items( center );
                                @include justify-content( center );
                                
                                width: 100%;
                                height: rem( 40px );
                                background-color: #f2f2f2;
                                font-size: 12px;
                                font-size: rem( 12px );
                                line-height: 16px;
                                line-height: rem( 16px );
                                color: #494949;
                                cursor: pointer;
                                border-bottom: 1px solid $border-color;
                                border-bottom: rem( 1px ) solid $border-color;
                                
                                .title {
                                    width: 94%;
                                    padding: 0 8px;
                                    padding: 0 rem( 8px );
                                    font-weight: bold;
                                    margin-bottom: 0;
                                    @include excerpt( rem( 12px ), 1.2, 2, #f2f2f2 );
                                }
                                
                                .expandCollapseIcon {
                                    width: 6%;
                                    min-width: 40px;
                                    min-width: rem( 40px );
                                    line-height: 0;
                                    text-align: center;
                                    padding-left: 1px;
                                    padding-left: rem( 1px );
                                }
                                
                            }
                            
                            .header.current {
                                
                                color: #fff;
                                background-color: #3b4381;
                                
                                .title {
                                    @include excerpt( rem( 12px ), 1.2, 2, #3b4381 );
                                }
                                
                            }
                            
                            .content {
                                
                                font-size: 12px;
                                font-size: rem( 12px );
                                line-height: 14px;
                                line-height: rem( 14px );
                                border-bottom: 1px solid $border-color;
                                border-bottom: rem( 1px ) solid $border-color;
                                background-color: #fff;
                                
                                ul {
                                    
                                    margin: 0;
                                    padding: 0;
                                    list-style: none;
                                    
                                    li {
                                        
                                        padding: 10px 0 10px 30px;
                                        padding: rem( 10px ) 0 rem( 10px ) rem( 30px );
                                        margin: 0;
                                        cursor: pointer;
                                        text-indent: -30px;
                                        text-indent: rem( -30px );
                                        
                                        .num {
                                            display: inline-block;
                                            width: 17px;
                                            width: rem( 17px );
                                            margin-left: 10px;
                                            margin-left: rem( 10px );
                                            text-align: right;
                                        }
                                        
                                        .icon-assessment {
                                            display: inline-block;
                                            width: 17px;
                                            width: rem( 17px );
                                            margin: 0 5px;
                                            margin: 0 rem( 5px );
                                            text-align: right;
                                        }
                                        
                                    }
                                    
                                    li.selected {
                                        color: #fff;
                                        background-color: $default-accent;
                                    }
                                    
                                    li:hover {
                                        color: #fff;
                                        background-color: #5c68d5;
                                    }
                                    
                                }
                                
                            }
                            
                        }
                        
                        .section:last-child {
                            
                            .content {
                                border-bottom: none;
                            }
                            
                        }
                        
                    }
                    
                } // end side panel
                
            } // end main content
            
            #menu_panel {
                
                position: absolute;
                width: 36%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: $border-color;
                border-bottom: 1px solid $border-color;
                border-bottom: rem( 1px ) solid $border-color;
                z-index: 1;
                overflow: hidden;
                
                .menu_bar {
                    
                    @include display-flex( flex );
                    @include flex-direction( row );
                    @include flex-wrap( nowrap );
                    
                    height: 30px;
                    height: rem( 30px );
                    color: #fff;
                    background-color: $font-color;
                    text-align: right;
                    
                    .closeBtn {
                        
                        width: 5%;
                        min-width: 40px;
                        min-width: rem( 40px );
                        height: 30px;
                        height: rem( 30px );
                        text-align: center;
                        border: none;
                        color: #f00;
                        padding: 0;
                        line-height: 30px;
                        line-height: rem( 30px );
                        background-color: transparent;
                        
                        [class^="icon-"] {
                            font-size: 24px;
                            font-size: rem( 24px );
                            line-height: 30px;
                            line-height: rem( 30px );
                        }
                        
                    }
                    
                    .title {
                        width: 95%;
                        min-width: 271px;  
                        min-width: rem( 217px );
                        padding-top: 8px;
                        padding-top: rem( 8px );
                        padding-left: 10px;
                        padding-left: rem( 10px );
                        text-align: left;
                    }
                    
                }
                
                .menu {
                    
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    background-color: #fff;
                    
                    .menu_item {
                        
                        margin: 0;
                        
                        a {
                            position: relative;
                            display: block;
                            color: $font-color;
                            text-decoration: none;
                            padding: 10px;
                            padding: rem( 10px );
                            border-bottom: 1px solid #d0d0d0;
                            border-bottom: rem( 1px ) solid #d0d0d0;
                        }
                        
                        a:after {
                            position: absolute;
                            width: 14px;
                            width: rem( 14px );
                            height: 14px;
                            height: rem( 14px );
                            font-size: 14px;
                            font-size: rem( 14px );
                            line-height: 14px;
                            line-height: rem( 14px );
                            color: #ccc;
                            top: 34%;
                            right: 10px;
                            right: rem( 10px );
                            font-family: 'sbplus' !important;
                            content: "\edba";
                        }
                        
                        a:hover {
                            color: $default-accent;
                        }
                        
                    }
                    
                }
                
                .menu_item_details {
                    
                    position: absolute;
                    width: 100%;
                    min-width: rem( 257px );
                    height: 96.6%;
                    top: 30px;
                    top: rem( 30px );
                    right: -258px;
                    right: rem( -258px );   
                    background-color: #fff;
                    border-left: 1px solid $border-color;
                    border-left: rem( 1px ) solid $border-color;
                    
                    .navbar {
                                
                        @include display-flex( flex );
                        @include flex-direction( row );
                        @include flex-wrap( nowrap );
                        
                        width: 100%;
                        height: 25px;
                        height: rem( 25px );
                        background-color: #e4e4e4;
                        border-bottom: 1px solid $border-color;
                        border-bottom: rem( 1px ) solid $border-color;
                        
                        .backBtn {
                            display: block;
                            width: 5%;
                            min-width: rem( 44px );
                            font-size: 14px;
                            font-size: rem( 14px );
                            line-height: 14px;
                            line-height: rem( 14px );
                            color: #535cab;
                            background-color: transparent;
                            text-align: left;
                            padding: 1px 5px 0;
                            padding: rem( 1px ) rem( 5px ) 0;
                            @include order( 1 );
                        }
                        
                        .title {
                            width: 95%;
                            min-width: rem( 213px );
                            padding-top: 5px;
                            padding-top: rem( 5px );
                            text-indent: -44px;
                            text-indent: rem( -44px );
                            text-align: center;
                            @include order( 2 );
                        }
                        
                    }
                    
                    .menu_item_content {
                        
                        height: 97.29%;
                        font-size: 14px;
                        font-size: rem( 14px );
                        line-height: 18px;
                        line-height: rem( 18px );
                        padding: 0 10px;
                        padding: 0 rem( 10px );
                        overflow-y: auto;
                        
                        p:first-child {
                            margin-top: 8px;
                            margin-top: rem( 8px );
                        }
                        
                    }
                    
                }
                
            } // end menu panel
            
        } // end main content wrapper
        
        .main_content_wrapper.hide {
            display: none;
        }
        
    } // end sbplus
    
} // end sbplus_wrapper

@media screen and (orientation: portrait) {
    
    .sbplus_wrapper {
        
        // main storybook
        .sbplus {
            
            .main_content_wrapper {
                
                .container {
                    width: 100%;
                }
                
            } // end main content wrapper
            
        } // end sbplus
        
    } // end sbplus_wrapper
  
}

@media screen and (max-width: 888px) {
    
    .sbplus_wrapper {
        
        // main storybook
        .sbplus {
            
            .main_content_wrapper {
                
                .container {
                    width: 100%;
                }
                
            } // end main content wrapper
            
        } // end sbplus
        
    } // end sbplus_wrapper
  
}


/**************************
    MISC./HELPER RULES
**************************/

.hide {
    display: none;
}

.sr-only {
    display: none;
}